.frame-container {
  margin: 10vh;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

.text-container {
  color: white;
  list-style-type: none;
  font-size: 20px;
}

.img-container {
  border-radius: 20%;
  width: 20%;
  box-shadow: 0 0 5px white;
}

.PrivateTabIndicator-colorPrimary-126 {
  background-color: white !important;
}

.tab {
  color: white !important;
}
.tab:focus {
  outline: 0px;
  color: white !important;
}
.center {
  width: 30%;
  margin: auto;
  margin-top: 5vh;
}

.MuiTypography-body1 {
  background: linear-gradient(
    90deg,
    rgba(30, 139, 195, 0.2),
    rgba(255, 192, 203, 0.2)
  ) !important;
}

.follow {
  color: white !important;
  border-style: solid !important;
  border-color: red !important;
}
.follow:focus {
  outline: 0px;
  color: white !important;
}
