body {
  background: url(/static/media/10.d84e221b.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.default-link {
  color: white;
}
.default-link:hover {
  color: rgb(189, 224, 252);
  text-decoration: none;
}

.color-link-black {
  color: black;
}

.color-link-black:hover {
  color: rgb(97, 29, 29);
  text-decoration: none;
}

/* registration */
.MuiFormGroup-root {
  flex-direction: row !important;
}
